html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
	font-family: 'Quattrocento', serif;
	font-size: 4rem;
	background-color: #101010;
	color: #efefef;
}

.wrapper {
	height: auto;
	max-width: 128rem;
	margin: auto;

}

*:link, *:visited{
	color: currentColor;
	text-decoration: none;
}