html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
	font-family: 'Quattrocento', serif;
}

.wrapper {
	height: auto;
	max-width: 128rem;
	margin: auto;

	background-color: #999;
}