.section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heading-secondary {
	@include border-style-1;
	margin-bottom: 4rem;
	padding: 2rem 4rem;
	font-family: 'Black Jack Script';
	font-size: 5rem;
	text-align: center;
}


.icon-grouping {
	display: flex;
	margin-bottom: 3rem;
	
	& > *:not(:last-child) {
		margin-right: 8rem;
	}
}
.icon {
	position: relative;
	height: 15rem;

	& svg {
		width: auto;
		height: 100%;
		fill: currentColor;
	}
}