.section {
	width: 100%;
	margin-bottom: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heading-secondary {
	@include border-style-1;
	margin-bottom: 4rem;
	padding: 2rem 4rem;
	font-family: 'Black Jack Script';
	font-size: 5rem;
	text-align: center;
}


.icon-grouping {
	display: flex;
	margin-bottom: 3rem;
	
	& > *:not(:last-child) {
		margin-right: 4rem;
	}
}
.icon {
	position: relative;
	padding: 2rem;
	width: 15rem;
	height: 15rem;
	background-color: #fefefe;
	backdrop-filter: blur(3px);
	box-shadow: inset 0 0 1rem 3px black;	

	& svg {
		width: 100%;
		height: 100%;
		fill: currentColor;
		filter: drop-shadow(0 0 4px black);
	}
}