.header {
	padding: 2rem;
	display: flex;
	align-items: center;
	font-family: "Black Jack Script";
	
	&__brand{
		display: block;
		font-size: 5.4rem;
	}
	& :first-child{
		margin-right: auto;
	}
}

.navbar {
	display: flex;

	&__link {
		display: block;
		padding: 1rem 2rem;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

.main {
	height: auto;
}

.footer {
	padding: 2rem;
}