// :not(:nth-last-child(2))

html#index .header {
	position: absolute;

	&::after {
		height: 150%;
		top: 0;
		background: linear-gradient(
			#1010105f,
			transparent
		);
		box-shadow: none;
	}
}

.header {
	position: relative;
	padding: 2rem 0;
	width: 100%;
	display: flex;
	align-items: center;
	font-family: "Black Jack Script";
	z-index: 100;
	color: #fefefe;
	text-shadow: var(--shadow);
	
	&::after {
		@include extendedbg;
		box-shadow: 0 0 1rem black;
	}

	& > :first-child{
		margin-right: auto;
	}
}

.brand {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 6.5rem;
	
	&__text {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-right: 2rem;
	}
	&__year {
		font-size: .5em;
	}
	&__img {
		padding: 1.3rem 1.5rem 0 0;
		width: 10rem;
		height: 100%;

		& svg {
			width: 100%;
			height: 100%;
			fill: currentColor;
			filter: drop-shadow(2px 2px 4px black);
		}
	}
}

.navbar {
	display: flex;
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: bold;
	font-family: "Quattrocento", sans-serif;

	&__link {
		display: block;
		padding: 2rem;
		transition: all .1s;

		&:hover {
			// box-shadow: none;
			background-color: #10101072;
		}
		
		&:not(:last-child) {
			margin-right: 3rem;
		}
	}
}

.footer {
	position: relative;
	padding: 5rem 0;
	width: 100%;
	display: flex;
	align-items: center;
	z-index: 100;
	color: #fefefe;
	
	&::after {
		@include extendedbg;
		height: 100%;
		background-color: #101010;
		box-shadow: 0 0 1rem black;
	}
}

.showcase {
	position: relative;
	height: 76rem;
	text-transform: uppercase;
	font-weight: bold;
	
	&__heading {
		@include border-style-1;
		padding: 5rem 10rem;
		background-color: #efefef20;
		box-shadow: 0 0 2rem 6px black;
		font-size: 4rem;
		text-shadow: var(--shadow);
	}
	&::after {
		@include extendedbg;
		top: 0;
		height: 100%;
		background: url(../images/steak-flame.jpg) no-repeat center;
		background-size: cover;
	}
}

.mission {
	@include spaced-out;

	&__text {
		flex: 1;
		flex-basis: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		word-break: normal;
	}

	&__triplet {
		flex: 1;
		flex-basis: 50%;
		display: flex;
		height: 50rem;
		width: 50%;
		box-shadow: 0 0 1rem 5px black;

		&__piece {
			position: relative;
			flex: 1;
			overflow: hidden;
			height: 100%;
			transition: flex .3s ease-in-out;

			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;

			&:hover {
				flex: 3;
			}

			&.piece-1 {
				background-image: url('../images/burg.jpg');
			}
			&.piece-2 {
				background-image: url('../images/steak-rosemary.jpg');
			}
			&.piece-3 {
				background-image: url('../images/kabob.jpg');
			}
		}
	}
}

.delivery {
	@include spaced-out;

	&__doublet {
		display: flex;
		flex-direction: column;
		position: relative;
		height: 50rem;
		flex-basis: 50%;
		box-shadow: 0 0 1rem 5px black;

		&__piece {
			flex: 1;
			transition: flex .3s;

			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			&.piece-1 {
				background-image: url(../images/fast-car.jpg);
			}
			&.piece-2 {
				background-image: url(../images/fast-car-2.jpg);
			}
			&:hover {
				flex: 3;
			}
		}
	}
	&__text {
		flex-basis: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	&__summary {
		width: 100%;
		text-align: center;
	}
}

.city {
	position: relative;
	height: 30rem;

	&__heading {
		@include border-style-1;
		padding: 5rem 10rem;
		background-color: #efefef20;
		box-shadow: 0 0 2rem 6px black;
		text-shadow: var(--shadow);
		text-transform: uppercase;
		font-weight: bold;
	}
	
	&::after {
		@include extendedbg;
		height: 100%;
		background-image: url(../images/city-air.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

.menu {
	--spacing: 10rem;
	position: relative;
	padding: var(--spacing) 0;
	width: 100%;
	flex-direction: column;

	& > *:not(:last-child) {
		margin-bottom: var(--spacing);
	}

	&::after {
		@include extendedbg;
		height: 100%;
		background-color: #efefef;
	}
}

.menu__item {
	--spacing: 8rem;
	--title-size: 8rem;

	position: relative;
	width: 100%;
	height: calc(var(--spacing) + var(--title-size));
	box-shadow: inset 0 0 1rem black;
	background-image: url(../images/cheeseburger-fries.jpg);
	background-size: cover;
	background-position: center;
	transition: all .2s;
	overflow: hidden;

	&.active {
		height: calc(48rem + var(--spacing));
	}

	&__title {
		position: absolute;
		top: calc(var(--spacing) / 2);
		left: 50%;
		transform: translate(-50%, 0);
		font-size: var(--title-size);
		font-weight: bold;
		text-align: center;
		text-shadow: var(--shadow);
	}
	&__details {
		position: absolute;
		top: calc(var(--spacing) + var(--title-size));
		left: 50%;
		transform: translate(-50%, 0);
		width: 65%;
		height: auto;
		background-color: #101010;
		padding: 2rem;
		text-align: center;
	}
	// &:hover &__details {
	// }
	// &.active &__details {
	// }
}