@media screen and (min-width: 2000px) {
	.wrapper {
		max-width: 160rem;
	}
}

@media screen and (max-width: 1600px) {
	body {
		font-size: 2.8rem;
	}

	.wrapper {
		max-width: 100%;
		margin: 0 8rem;
	}

	.heading-secondary {
		font-size: 3.6rem;
	}

	.navbar {
		font-size: 2.6rem;
	}

	.brand {
		font-size: 5.6rem;

		&__img {
			width: 6rem;
		}
	}

	.showcase {
		height: 64rem;

		&__heading {
			font-size: 3.2rem;
		}
	}

	.mission {
		&__triplet {
			height: 42rem;
		}
	}

	.delivery {
		&__doublet {
			height: 42rem;
		}
	}
}

@media screen and (max-width: 1366px) {
	.heading-secondary {
		font-size: 3.2rem;
		padding: 2rem 0;
	}

	.icon {
		height: 8rem;
	}

	.brand {
		font-size: 5rem;
		&__img {
			width: 5.6rem;
		}
	}
	
	.showcase {
		height: 56rem;
	}

	.city {
		padding: 10rem 0;
		&__heading {
			text-align: center;
			width: 100%;
			padding: 5rem;
		}
	}
}

@media screen and (max-width: 1280px) {
	html#index .header {
		position: relative;

		&::after {
			display: none;
		}
	}
	html#index .section {
		margin-bottom: 5rem;
	}

	.heading-secondary {
		font-weight: bold;
	}

	.brand {
		&__text {
			flex-direction: row;
		}
		&__year {
			display: none;
		}
		&__img {
			display: none;
		}
	}

	.navbar {
		&__link {
			padding: 2rem 0;

			&:hover {
				background-color: transparent;
				text-shadow: 0 0 1rem currentColor;
			}
		}
	}

	.showcase {
		height: 50rem;
		
		&__heading {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100vw;
			transform: translate(-50%, -50%);
			padding: 5rem;
			text-align: center;
			font-size: 3.6rem;
		}
	}

	.mission {
		&__triplet {
			& > :not(:first-child) {
				display: none;
			}
		}
	}

	.delivery {
		&__doublet {
			& > :not(:last-child) {
				display: none;
			}
		}
	}
	
	.city {
		&__heading {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100vw;
			transform: translate(-50%, -50%);
			padding: 4rem 0;
			text-align: center;
		}
	}
}

@media screen and (min-width: 1080px) {
	.mission, .delivery {
		& > :first-child {
			margin-right: 5rem;
		}
	}
}

@media screen and (max-width: 1080px) {
	body {
		font-size: 2.4rem;
	}

	.section {
		flex-direction: column;
	}

	.wrapper {
		margin: 0 5rem;
	}

	.heading-secondary {
		font-size: 3rem;
		padding: 4rem 0;
	}

	.mission {
		width: 75%;
		margin: auto;
		
		&__triplet {
			width: 100%;
			height: 24rem;

			&__piece {
				&:hover {
					flex: 1;
				}
			}
		}
	}

	.delivery {
		width: 75%;
		margin: auto;
		
		&__doublet {
			flex-direction: column;
			width: 100%;
			height: 24rem;

			&__piece {
				&:hover {
					flex: 1;
				}
			}
		}
	}
	
	.mission, .delivery {
		& > :first-child {
			margin-bottom: 5rem;
		}
	}
}

@media screen and (min-width: 900px) {
	.navbar {
		&__link {
			&:not(:last-child) {
				margin-right: 3rem;
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.navbar {
		position: fixed;
		flex-direction: column;
		top: 0;
		right: 0;
		height: 100%;
		padding: 1rem 4rem;
		background-color: #131313ff;
		transform: translate(100%, 0);
		transition: all .3s;
		text-align: center;

		&.open {
			transform: translate(0, 0);
		}

		&__exit {
			display: block;
			font-size: 5rem;
			margin-bottom: 3rem;
		}

		&__mini {
			display: block;
		}

		&__link {
			padding: 0;
			&:not(:last-child) {
				margin-bottom: 3rem;
			}
		}
	}

	.city {
		&__heading {
			padding: 4rem;
		}
	}
}

@media screen and (max-width: 800px) {
	.heading-secondary {
		font-size: 2.4rem;
	}
	
	.brand {
		font-size: 3.2rem;
	}

	.showcase {
		height: 40rem;

		&__heading {
			font-size: 3.2rem;
		}
	}

	.navbar {
		&__mini {
			font-size: 5rem;
		}
	}
	
	.mission {
		width: 100%;
		&__summary {
			width: 75%;
		}
	}

	.delivery {
		width: 100%;
		&__summary {
			width: 75%;
		}
	}

	.city {
		&__heading {
			padding: 2rem 10rem;
		}
	}
}

@media screen and (max-width: 640px) {
	.mission {
		&__summary {
			width: 100%;
		}
	}

	.delivery {
		&__summary {
			width: 100%;
		}
	}
}

@media screen and (max-width: 560px) {
	.icon {
		height: 6rem;
	}

	.brand {
		font-size: 3rem;
	}

	.navbar {
		&__mini {
			font-size: 4rem;
		}
	}
	
	.city {
		&__heading {
			padding: 2rem;
		}
	}
}

@media screen and (max-width: 480px) {
	body {
		font-size: 1.8rem;
	}
	
	.wrapper {
		margin: 0 2rem;
	}
	
	.icon {
		height: 5rem;
	}

	.heading-secondary {
		font-size: 2.1rem;
	}

	.brand {
		font-size: 2.4rem;
	}

	.navbar {
		&__mini {
			font-size: 3rem;
		}
	}

	.showcase {
		&__heading {
			padding: 3rem;
			font-size: 2.6rem;
		}
	}

	.mission {
		&__triplet {
			height: 18rem;
		}
	}

	.delivery {
		&__doublet {
			height: 18rem;
		}
	}
}